
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000181;
  width:auto;
  padding: 82px;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:100%;
  align-items: center;
  color:#4fa7c0;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
}
input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
  background-color: transparent;
  color: #FFcc98;
}
 button {
  width: 320px;
  height: 50px;
  margin-top: 15px;
  background-color: transparent;
  color: #fff7d9;
}
 button:hover{
  cursor: pointer;
  color: #ff9e0b;
	font-size: 1.2em;
}
button {
	list-style:none;
  white-space:nowrap;
}
button{
	display: inline-block;
	padding: 0px 20px;
  transition: all 0.3s ease 0s;
}

.employees {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}

.employee {
  width: 700px;
  height: auto;
  border: 2px solid;
  border-color: #fff7d9 #fff7d9 #fff7d9;
  margin: 10px;
  display: flex;
  padding: 8px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #ffe6b6;
}

.employee h3 {
  margin: 20px;
}

.header {
  color:#ffcc98;
  text-align: center;
  font-size: 2vw;
  background-image: url(https://media.giphy.com/media/5gQUo8OW1GDawk8Jok/giphy.gif);
  background-clip: text;
  -webkit-background-clip: text;
  color:transparent;
  font-family:'Times New Roman', Times, serif;
  letter-spacing: 20px;
}

